<div class="container mt-5 text-center">
  <h1>BIENVENUE <%= @first_name %> !</h1>
  <p class="lead mt-3">Ici c'est notre super site de potins, il est chouette, non ?</p>
  <p>Decouvre les derniers ragots et partage les tiens.</p>
  <%= link_to "Voir les potins", root_path, class: "btn btn-primary mt-3" %>
</div>
